.toolbar {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
    display: flex;
    height: 72px;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1.5px solid black;
    border-top: 1.5px solid black;
    z-index: 12;
}

.modulesSelector {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}

.modulesSelectorText {
    font-size: 14px;
    font-weight: 300;
    transition: color 0.2s ease, font-weight 0.2s ease;
    user-select: none;
}

.modulesSelectorArrow {
    fill: white; 
    stroke: black; 
    stroke-width: 0.5px;
    transition: fill 0.2s ease;
}

.modulesSelector:hover .modulesSelectorText {
    font-weight: 400;
}

.modulesSelector:hover .modulesSelectorArrow {
    fill: black
}