.undoredo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.undoredoImage {
    margin-bottom: 2px;
    user-select: none;
}

.undoredoImage:hover {
    cursor: pointer;
}