.sidebarContainer {
    position: relative;
    display: flex;
    height: 100%;
    right: 0;
    z-index: 1;
    border-color: black;
    border-width: 1.5px;
    background-color: white;
    box-shadow: -10px -10px 10px 0px rgba(0, 0, 0, 0.2);
}