.view {
    position: relative;
    background-repeat: repeat;
    overflow: visible;
    z-index: 0;
}

.pane {
    background-image: url(../../../assets/workpane-bg.png);
    background-color: white;
}