.card {
    display: flex;
    flex-direction: column;
    border-width: 1.5px;
    border-color: black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.card:hover {
    cursor: pointer;
}

.previewContainer {
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-width: 1.5px;
    border-color: black;
    border-radius: 5px;
}

.preview {
    width: auto;
    height: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    object-fit: cover;
}

.info {
    padding: 10px;
}

.actionImage {
    position: absolute;
    top: 5px;
}

.modifyImage {
    left: 5px;
}

.eliminateImage {
    right: 5px;
}

.actionImage:hover {
    cursor: pointer;
}

.tooltip {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 4px;
    border-radius: 2px;
}

.tooltip p {
    color: white;
    font-size: 12px;
}