.rectangle {
    position: absolute;
    min-height: 50px;
    min-width: 80px;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.rectangleText {
    font-size: 12px;
    user-select: none;
}

.rectangleInput {
    display: flex;
    min-width: 0px;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.rectangleInput:focus {
    outline: none;
}