.entity {
    position: absolute;
    min-height: 50px;
    min-width: 80px;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    z-index: 1;
}

.entityText {
    font-size: 12px;
    user-select: none;
}

.entityInput {
    display: flex;
    min-width: 0px;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.entityInput:focus {
    outline: none;
}