@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  img {
    @apply inline-block;
  }
  input {
    line-height: 2;
    vertical-align: middle; /* Aiuta a centrare il testo */
  }
}

body {
  background-color: white;
}

h1 {
  font-size: 30px;
}