.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 72px;
    justify-content: space-evenly;
    background-color: white;
    border-bottom: 1.5px solid black;
    border-top: 1.5px solid black;
}

.logo {
    display: flex;
    margin-right: auto;
    justify-content: center;
    padding-left: 20px;
}

.links {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.links2 {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.modulesSelector {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.modulesSelectorText {
    font-size: 14px;
    font-weight: 300;
    transition: color 0.2s ease, font-weight 0.2s ease;
    user-select: none;
}

.modulesSelectorArrow {
    fill: white; 
    stroke: black; 
    stroke-width: 0.5px;
    transition: fill 0.2s ease;
}

.modulesSelector:hover .modulesSelectorText {
    font-weight: 400;
}

.modulesSelector:hover .modulesSelectorArrow {
    fill: black
}

.link {
    font-size: 14px;
    transition: color 0.2s ease, font-weight 0.2s ease;
    font-weight: 300;
    user-select: none;
}

.link:hover {
    font-weight: 400;
}

.navBotton {
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    font-size: 14px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.navBotton:hover {
    background-color: white;
    border-width: 2px;
    border-color: black;
    color: black;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (min-width: 700px) {
    .links {
        width: 60%;
    }
    .links2 {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .links {
        width: 50%;
    }
    .links2 {
        width: 35%;
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        display: none;
        z-index: 0;
    }
}