.navbar {
    background-color: white;
    width: 100%;
    min-height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    border-bottom: 1.5px solid black;
}

.headSection {
    z-index: 10;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding-left: 10px;
}

.menu {
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 5px;
}

.menu:hover {
    cursor: pointer;
}

.menu span {
    position: absolute;
    background-color: black;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    display: block;
    transition: transform 0.5s, width 0.5s;
}

.line1{
    transform: translateY(-10px);
}

.menu .toggleLine1{
    transform: translateY(0px) rotate(45deg);    
}

.menu .toggleLine2{
    width: 0%;
}

.line3{
    transform:translateY(10px);
}

.menu .toggleLine3{
    transform: translateY(0px) rotate(-45deg);    
}

.links {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1.5px;
    border-color: black;
}

.modulesSelector {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modulesSelectorText {
    font-size: 14px;
    font-weight: 300;
    transition: color 0.2s ease, font-weight 0.2s ease;
    user-select: none;
}

.modulesSelectorArrow {
    fill: white; 
    stroke: black; 
    stroke-width: 0.5px;
    transition: fill 0.2s ease;
}

.modulesSelector:hover .modulesSelectorText {
    font-weight: 400;
}

.modulesSelector:hover .modulesSelectorArrow {
    fill: black
}

.link {
    position: relative;
    color: rgb(91, 90, 90);
    font-size: 14px;
    transition: color 0.2s ease, font-weight 0.2s e;
    margin-top: 5px;
    margin-bottom: 5px;
}

.link:hover {
    color: black;
    font-weight: 400;
}

.navBotton {
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    font-size: 14px;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navBotton:hover {
    background-color: white;
    border-width: 2px;
    border-color: black;
    color: black;
    padding-left: 13.5px;
    padding-right: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (min-width: 700px) {
    .navbar {
        display: none;
        z-index: 0;
    }
}