.footerContainer {
    position: relative;
    display: flex;
    width: 100%;
    background-color: black;
}

.footerContent {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 40px;
}

.footerColumn {
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footerTitle {
    color: white;
}

.footerText {
    color: white;
    font-weight: 300;
    transition: color 0.2s ease, font-weight 0.2s ease;
    font-size: 14px;
}

.footerLink {
    transition: color 0.2s ease, font-weight 0.2s ease;
    user-select: none;
}

.footerLink:hover {
    font-weight: 400;
}

.footerComboLine {
    display: flex;
    justify-content: center;
}

.socialLink {
    display: flex;
    justify-content: center;
}

.socialLink img {
    opacity: 80%;
    transition: opacity 0.2s ease;
}

.socialLink:hover img {
    opacity: 100%;
}

.socialLink:hover .footerLink {
    font-weight: 400;
}

.centerColumn {
    border-left: 1.5px solid white;
    border-right: 1.5px solid white;
}

@media screen and (max-width: 750px){
    .footerContent {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .footerColumn {
        padding: 20px;
        width: 100%;
    }

    .centerColumn {
        border-left: 0px;
        border-top: 1px solid white;
        border-right: 0px;
        border-bottom: 1px solid white;
    }
}