.authWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-top: 80px;
    margin-bottom: 80px;
}

.authContainer {
    border-width: 1.5px;
    border-color: black;
    border-radius: 10px;
}