.view {
    position: relative;
    background-repeat: repeat;
    z-index: 0;
    background-image: url(../../../../public/assets/design/workpane-bg.png);
    background-color: white;
    height: 100vh;
    width: 100vw;
}