.form {
    display: flex;
    flex-direction: column;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.submitButton:hover {
    background-color: white;
    border-width: 2px;
    border-color: black;
    color: black;
}

.header {
    display: flex;
    justify-content: left;
    font-size: 12px;
    max-width: 216.04px;
    margin-top: 10px;
    margin-bottom: 10px;
}