.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.header {
    display: flex;
    justify-content: left;
    font-size: 12px;
    max-width: 216.04px;
    margin-top: 10px;
    margin-bottom: 10px;
}